# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/CarProject/FileContentIndex/8d574712-7863-440c-b9f4-e985f2afe4c0.vsidx
/.vs/CarProject/v17/Browse.VC.opendb
/.vs/CarProject/v17/Browse.VC.db-wal
/.vs/CarProject/v17/Browse.VC.db-shm
/.vs/CarProject/v17/ipch/AutoPCH/c670f97fbe8450e8/VCTMP18240_163149.MAIN.00000000.ipch
/.vs/CarProject/FileContentIndex/3b6527ec-1634-4908-b839-eb084fa43b6b.vsidx
*.vsidx
